:root {
  --primary-font: Ubuntu;
  --branding-color: #202020;
}
h1 {
  line-height: 28px;
  padding: 25px;
}
h2 {
  font-weight: normal;
  line-height: 84px;
  padding-top: 30px;
}
h1,
h2,
h5,
.navbar-brand {
  font-family: var(--primary-font);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-align: center;
}

body {
  color: white;
  background-color: var(--branding-color);
}
p {
  padding: 25px;
  text-align: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  margin: 0 200px;
}
a {
  color: cadetblue;
}
.hero {
  background-image: url("../images/portfolio-images/1434.jpg");
  text-align: center;
  padding: 160px 20px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.hero h2 {
  font-size: 24px;
}
.hero h1 {
  font-size: 72px;
}
.btn-branding {
  background: #ffffff;
  border-radius: 50px;
  font-family: Poppins;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 18px 40px;
  line-height: 17px;
  color: #272142;
  font-weight: 700;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.navigation-links {
  font-weight: bold;
  color: #272142;
}
.contact-links {
  text-align: center;
}
.contact-button {
  text-align: center;
}

.about-content {
  padding-left: 40px;
}
@media (max-width: 500px) {
  p {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .hero h1 {
    font-size: 36px;
  }
}
